doctype
html(lang='en', data-framework='typescript')
head
    meta(charset='utf-8')
    title Todo MVC App
body
    section.todoapp
    footer.info
        p Double-click to edit a todo
        p Created by
            a(href='http://github.com/remojansen/') Remo H. Jansen
        p Part of
            a(href='http://todomvc.com') TodoMVC
